<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=HarmanDB;Integrated Security=True" name="myCon"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="myServiceBehavior" name="SelfHostingWcfApp.PatientService">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          contract="SelfHostingWcfApp.IPatientService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2345/PatientService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>