<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="StorageType" value="Binary"/>
    <add key="filename" value="C:\Users\phani\source\repos\Training\AdvancedCSharp\CommonData\Employees.csv"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPatientService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IEmpService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1234/MyWCFServices/" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IEmpService" contract="myServices.IEmpService"
        name="WSHttpBinding_IEmpService">
        <identity>
          <userPrincipalName value="PHANI-PC\phani" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:2345/PatientService/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IPatientService" contract="mySelfHostingService.IPatientService"
        name="BasicHttpBinding_IPatientService" />
    </client>
  </system.serviceModel>
</configuration>